@charset "UTF-8";


@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Light.woff2) format("woff2"),url(https://res.kurly.com/fonts/NotoSansKR-Light.woff) format("woff"),url(https://res.kurly.com/fonts/NotoSansKR-Light.otf) format("truetype")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff2) format("woff2"),url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff) format("woff"),url(https://res.kurly.com/fonts/NotoSansKR-Regular.otf) format("truetype")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff2) format("woff2"),url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff) format("woff"),url(https://res.kurly.com/fonts/NotoSansKR-Medium.otf) format("truetype")
}

@font-face {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://res.kurly.com/fonts/NotoSansKR-Bold.woff2) format("woff2"),url(https://res.kurly.com/fonts/NotoSansKR-Bold.woff) format("woff"),url(https://res.kurly.com/fonts/NotoSansKR-Bold.otf) format("truetype")
}

html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}


*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

*, :after, :before, legend, td, th {
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
}

html, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum,
    sans-serif;
}

:root {
    -swiper-theme-color: #007aff;
}

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}

div {
    display: block;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}

button, select {
    text-transform: none;
}

button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button {
    border-radius: 0;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118),
    rgb(133, 133, 133));
    border-image: initial;
}

button[disabled], input[disabled] {
    cursor: default;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}


ol, ul {
    list-style-type: none;
}




img, legend {
    border: 0;
    vertical-align: top;
}


canvas, img, video {
    max-width: 100%;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

li {
    text-align: -webkit-match-parent;
}


