.css-fzefrb {
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}

.css-171zbec {
    width: 820px;
}

.css-j0lifa {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-e23nfx {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}

.css-1268zpe {
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}

.css-fhxb3m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-fhxb3m {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.css-1268zpe {
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}
.css-e23nfx {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}

.css-mbsaqp {
    flex-basis: 50px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.css-1ym8aqm {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.css-16tcewl {
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.css-1fttcpj {
     display: flex;
     flex-direction: column;
 }

.css-14yglsw {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgb(244, 244, 244);
  }

.css-3o6rrk {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 50px;
}

.css-fzefrb {
    padding: 20px
    px
    0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}
.css-3d2kks {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 100px;
}
.css-b1hszl {
    text-align: center;
    padding: 20px 0px;
    flex-basis: 100px;
    color: rgb(153, 153, 153);
}

ul {
    list-style-type: none;
}






