<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="${pageContext.request.contextPath}/static/image/favicon.png" />
    <title>게시글 상세</title>
    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
<!-- 페이지의 메인 부분 -->
<div class="css-1i60c0e emilzgk3">
    <div class="css-1uvp5r6 emilzgk2">
        <div class="css-qwe8mt emilzgk1">게시글 상세</div>
        <div class="css-1funedv emilzgk0">GDSC 소식 입니다.</div>
    </div>
    <div class="css-1t45bai erzmnr90">
        <div class="css-1dhg94g e1pwb5hv0">
            <div class="css-1xrh39a e1pwb5hv2">제목</div>
            <div class="css-8vgw34 e1pwb5hv1">제목1</div>
        </div>
        <div class="css-1dhg94g e1pwb5hv0">
            <div class="css-1xrh39a e1pwb5hv2">작성자</div>
            <div class="css-8vgw34 e1pwb5hv1">작성자1</div>
        </div>
        <div class="css-1dhg94g e1pwb5hv0">
            <div class="css-1xrh39a e1pwb5hv2">작성일</div>
            <div class="css-8vgw34 e1pwb5hv1">작성일1</div>
        </div>
        <div class="css-1dhg94g e1pwb5hv0">
            <div class="css-1xrh39a e1pwb5hv2">찜하기</div>
            <div class="css-8vgw34 e1pwb5hv1"> <svg viewBox="0 0 32 32" focusable="false"
                                                    role="presentation" class="withIcon_icon__3VTbq"
                                                    aria-hidden="true" style="width: 24px; height: 24px;">
                <path
                        d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z">
                </path>
            </svg></div>
        </div>

        <div class="css-1xvp3jp ezf0ge90">
            <div>
                <pre><p style="font-family: Noto Sans, malgun gothic, AppleGothic, dotum, sans-serif;">게시글 내용 </p></pre>
            </div>
        </div>
        <div class="css-d7qwpj e1p3kiis0">
            <button onclick="location.href='${pageContext.request.contextPath}/noticeListOk.notificationboard'" class="css-214ym4 e4nu7ef3" type="button" width="150" height="42" radius="0">
                <span class="css-ymwvow e4nu7ef1">목록</span>
            </button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/detail.js"></script>

</body>

</html>